<div class="container mx-0">
    <div class="row">
        <div class="col-md-3 border-end border-top border-info">
            <ul class=" nav flex-column nav-pills">
                <li class="nav-item border-bottom"><a class="nav-link"
                        [ngClass]="this.activeTask===this.privs[0].toLowerCase() ? 'bg-light text-info' : ''"
                        (click)="onClick('view')">View
                        Schedule</a>
                </li>
                <li class="nav-item border-bottom"><a class="nav-link"
                        [ngClass]="this.activeTask===this.privs[1].toLowerCase() ? 'bg-light text-info' : ''"
                        (click)="onClick('book')">{{editSlot.edit ? "Update Slot" : "Book Slot"}}</a>
                </li>
                <li class="nav-item border-bottom"><a class="nav-link"
                        [ngClass]="this.activeTask===this.privs[2].toLowerCase() ? 'bg-light text-info' : ''"
                        (click)="onClick('myappointments')">My Appointments</a>
                </li>
                <li *ngIf="isAdmin" class="nav-item border-bottom"><a class="nav-link"
                        [ngClass]="this.activeTask===this.privs[3].toLowerCase() ? 'bg-light text-info' : ''"
                        (click)="onClick('requests')">Requested Appointments</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <app-view-schedule *ngIf="this.activeTask===this.privs[0].toLowerCase()"></app-view-schedule>
            <app-book-slot [editSlot]="editSlot" *ngIf="this.activeTask===this.privs[1].toLowerCase()"
                (slotBooked)="slotBookedChangeToMyApps($event)"></app-book-slot>
            <app-my-appointments (editSlot)="updateSlot($event)"
                *ngIf="this.activeTask===this.privs[2].toLowerCase()"></app-my-appointments>
            <app-appointment-requests
                *ngIf="isAdmin && this.activeTask===this.privs[3].toLowerCase()"></app-appointment-requests>
        </div>
    </div>
</div>