<div class="container-fluid">
  <div class="p-3 mb-2 text-center bg-light text-info border-bottom border-info">
    <h3>My Appointments</h3>
  </div>
  <div class="container mb-2 border-bottom border-info">
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table custom-table' *ngIf='Appointments && Appointments.length'>
          <thead>
            <tr>
              <th>Date</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Duration</th>
              <th>NoOfParticipants</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let Appointment of Appointments'>
              <td data-label="Date">{{Appointment.DateTime.toString().split("T")[0]}}</td>
              <td data-label="Start Time">{{Appointment.DateTime.toString().split("T")[1]}}</td>
              <td data-label="End Time">{{Appointment.EndTime.toString().split(" ")[1]}}</td>
              <td data-label="Duration">{{ Appointment.Duration + " mins" }}</td>
              <td data-label="NoOfParticipants">{{ Appointment.NoOfParticipants }}</td>
              <td data-label="Description">{{ Appointment.Description }}</td>
              <td data-label="Status">{{ Appointment.Status&&Appointment.Status ? (Appointment.Status==1) ?
                "Approved" :
                (Appointment.Status==2) ? "Pending" : "Declined" : "UnKnown"}}</td>
              <td>
                <button class="btn btn-warning" (click)="editBooking(Appointment._id)" style="margin-right:25px;">
                  Edit</button>
                <button class="btn btn-danger" (click)="deleteBooking(Appointment._id)">
                  Cancel</button>
              </td>
            </tr>
          </tbody>
        </table>
        <h5 class="text-center text-primary" *ngIf='!Appointments.length'>You don't have any booking.</h5>
      </div>
    </div>
  </div>
</div>