<div class="container-fluid">
    <div class="p-3 mb-2 text-center bg-light text-info border-bottom border-info">
        <h3>My Appointments</h3>
    </div>
    <div class="container">
        <div class='card-body'>            
            <div class='table-responsive'>
              <table class='table custom-table'
                    *ngIf = 'Appointment && Appointment.length'>
                <thead>
                  <tr>
                  <th>UserId</th>
                    <th>Description</th>
                    <th>DateTime</th>
                    <th>Duration</th>
                    <th>NoOfParticipants</th>
                    <!-- <th>Status</th> -->
                  </tr>
                 
                </thead>
                <tbody>
                  <tr *ngFor='let Appointment of Appointment'>
                    <td data-label="UserId">{{ Appointment.userId }}</td>
                    <td data-label="Description">{{ Appointment.Description }}</td>
                    <td data-label="Booking Date Time">{{ Appointment.DateTime }}</td>
                    <td data-label="Duration">{{ Appointment.Duration }}</td>
                    <td data-label="NoOfParticipants">{{ Appointment.NoOfParticipants }}</td>
                
                  </tr>
                  
                </tbody>
                
              </table>
    
              <h5 class="text-center text-danger" *ngIf = '!Appointment.length'>You don't have any booking.</h5>
            </div>
          </div>
    </div>
</div>