<div class="container">
    <div class="p-3 mb-2 text-center bg-light text-info border-bottom border-info">
        <h3>Log In</h3>
    </div>
    <div class="container">
        <form autocomplete="off" (ngSubmit)="userLogin()">
            <div class="form-control">
                <div class="form-label text-primary">
                    Email ID
                </div>
                <input type="text" autocomplete="off" placeholder="enter email id" [(ngModel)]="User.Email" name="Email"
                    value="Email">
            </div>
            <div class="form-control">
                <div class="form-label text-primary">
                    Password
                </div>
                <input type="password" autocomplete="off" placeholder="enter password" [(ngModel)]="User.Password"
                    name="Password" value="Password">
            </div>
            <div class="pt-4">
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </div>
        </form>
    </div>
</div>