<div class="container">
    <div class="p-3 mb-2 text-center bg-light text-info border-bottom border-info">
        <h3>Register</h3>
    </div>
    <div class="container">
        <form autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control">
                        <div class="form-label">
                            User Type
                        </div>
                        <select class="form-select">
                            <option selected value="1">Student</option>
                            <option value="2">Faculty</option>
                            <option value="3">Others</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control">
                        <div class="form-label">
                            Name
                        </div>
                        <input type="text" autocomplete="off" placeholder="enter your name" name="Name" value="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control">
                        <div class="form-label">
                            Email ID
                        </div>
                        <input type="text" autocomplete="off" placeholder="enter your email id" name="Email"
                            value="Email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control">
                        <div class="form-label">
                            Roll Number
                        </div>
                        <input type="text" autocomplete="off" placeholder="enter your roll no" name="RollNumber"
                            value="RollNumber">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control">
                        <div class="form-label text-info align-right" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="minimum length should be 8 chars">
                            Password
                        </div>
                        <input type="password" autocomplete="off" placeholder="enter password" name="Password"
                            value="Password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control">
                        <div class="form-label">
                            Re-enter Password
                        </div>
                        <input type="text" autocomplete="off" placeholder="re-enter password" value="Password">
                    </div>
                </div>
            </div>
            <div class="pt-4">
                <button type="button" class="btn btn-outline-secondary">Submit</button>
            </div>
        </form>
    </div>
</div>