<div class="container">
    <div class="p-3 mb-2 text-center bg-light text-info border-bottom border-info">
        <h3>Register</h3>
    </div>
    <div class="container">
        <form autocomplete="off" (ngSubmit)="Adduser()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control">
                        <div class="form-label text-primary">
                            User Type
                        </div>
                        <select [(ngModel)]="NewUser.Role" class="form-select" name="Role">
                            <option selected value="1">Student</option>
                            <option value="2">Faculty</option>
                            <option value="4">Others</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control">
                        <div class="form-label text-primary">
                            Name
                        </div>
                        <input type="text" [(ngModel)]="NewUser.Name" autocomplete="off" placeholder="enter your name"
                            name="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control">
                        <div class="form-label text-primary">
                            Email ID
                        </div>
                        <input type="text" [(ngModel)]="NewUser.Email" autocomplete="off"
                            placeholder="enter your email id" name="Email">
                    </div>
                </div>
                <div *ngIf="NewUser.Role&&NewUser.Role==1" class="col-md-6">
                    <div class="form-control">
                        <div class="form-label text-primary">
                            Roll Number
                        </div>
                        <input type="text" [(ngModel)]="NewUser.RollNo" autocomplete="off"
                            placeholder="enter your roll no" name="RollNo">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control">
                        <div class="form-label text-danger align-right" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="minimum length should be 8 chars">
                            Password
                        </div>
                        <input type="password" [(ngModel)]="NewUser.Password" autocomplete="off"
                            placeholder="enter password" name="Password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control text-primary">
                        <div class="form-label">
                            Re-enter Password
                        </div>
                        <input type="text" autocomplete="off" placeholder="re-enter password">
                    </div>
                </div>
            </div>
            <div class="pt-4">
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </div>
        </form>
    </div>
</div>