
<div class="container-fluid">
    <div class="card" style="width: 25rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <form>
                <label for="date">Date:</label>
                <input type="date"> 
                <button type="button" class="btn btn-primary btn-block mb-4"><a routerLink="/scheduleList">check</a></button>
                <label for="slot">select a slot to book an appointment:</label> <br>

                <select name="slot" id="slot">
                <option value="11:00 - 11:30">11:00 - 11:30</option>
                <option value="11:30 - 12:00">11:30 - 12:00</option>
                <option value="12:00 - 12:30">12:00 - 12:30</option>
                <option value="12:30 - 13:00">12:30 - 13:00</option>
                <option value="14:00 - 14:30">14:00 - 14:30</option>
                <option value="14:30 - 15:00">14:30 - 15:00</option>
                </select><br>
                <label for="participants">No of participants:</label>
                <input type="Number" min="1" > 
                
                <button type="button" class="btn btn-primary btn-block mb-4">Book Appointment</button>
            </form>
        </div>
    </div>

</div>