<div class="container-fluid">
    <div class="card" style="width: 25rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <form class="row g-3">
                <div class="col-auto">
                    <label for="name">Name</label>
                    <input type="text" value="arpita">
                </div>
                <div class="col-auto">
                    <label for="email">Email</label>
                    <input type="text" placeholder="email@example.com">
                </div>
                <div class="col-auto">
                    <label for="rollno">Roll Number</label>
                    <input type="text" placeholder="MYY----DEPT">
                </div>

                <div class="col-auto">
                    <label>Type of User</label>
                    <select>
                        <option>NITC STUDENT</option>
                        <option>NITC FACULTY</option>
                        <option>OTHERS</option>
                    </select>
                </div>
                <div class="col-auto">
                    <label for="inputPassword1">Password</label>
                    <input type="password" id="inputPassword1" placeholder="Password">
                </div>
                <div class="col-auto">
                    <label for="inputPassword2">Confirm Password</label>
                    <input type="text" id="inputPassword2" placeholder="Password">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Register</button>
                </div>

            </form>
        </div>
    </div>
</div>